/* Write main styles */

@use 'fonts';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'din-2014', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', Meiryo,
    sans-serif;
  overflow-x: hidden;
  background-image: url('/img/bg.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 400px;
}

.inner-link {
  color: #33a6b8;
  text-decoration: underline;
}

@media only screen and (min-width: 770px) {
  body {
    background-size: 680px;
  }
}

@media only screen and (min-width: 980px) {
  body {
    background-size: 768px;
  }
}
